# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=postgres
POSTGRES_PORT=5450
POSTGRES_HOST=localhost

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=8085

# Security
JWT_SECRET=your-jwt-secret-key-here-minimum-256-bits

# ExerciseDB API (Get from https://rapidapi.com/justin-WFnsXH_t6/api/exercisedb)
EXERCISEDB_API_KEY=your-rapidapi-key-here
